In [1]:
# Load Libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
import pandas as pd

In [2]:
# Read Data
binary= pd.read_csv('http://dni-institute.in/blogs/wp-content/uploads/2017/07/dt_data.csv')

In [3]:
# Explore Data
binary.describe()

,Card_Cust_ID,Unnamed: 3,Last_Month_spend,Last_3m_avg_spend,Spend_Drop_over50pct
count,4.750000e+02,0.0,475.000000,475.000000,475.000000
mean,1.002555e+06,NaN,602.147368,602.042105,0.263158
std,4.481438e+03,NaN,343.098348,343.130657,0.440812
min,1.000001e+06,NaN,10.000000,10.000000,0.000000
25%,1.000130e+06,NaN,310.000000,305.000000,0.000000
50%,1.000253e+06,NaN,600.000000,600.000000,0.000000
75%,1.000382e+06,NaN,900.000000,900.000000,1.000000
max,1.011114e+06,NaN,1190.000000,1200.000000,1.000000

In [4]:
# Data Manipulations

# Columns
binary.dtypes.index
# Drop a column
binary.drop('Unnamed: 3', axis=1, inplace=True)
# Target Variable to be made {-1, 1}
binary.Spend_Drop_over50pct.replace([0, 1], ['A', 'B'], inplace=True)
 
# Print a few rows
binary.head()
 
# Count Target Variable Values
binary.Spend_Drop_over50pct.value_counts()
# Find % Values of Target Variable Levels
round(binary.Spend_Drop_over50pct.value_counts()*100/len(binary.axes[0]),2)

A    73.68
B    26.32
Name: Spend_Drop_over50pct, dtype: float64

In [5]:
# Split sample into Train and Test
from sklearn.cross_validation import train_test_split
Train,Test = train_test_split(binary, test_size = 0.3, random_state = 176)
# Print a few rows
Train.head()

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

,Card_Cust_ID,Gender,Education_level,Last_Month_spend,Last_3m_avg_spend,Spend_Drop_over50pct
34,1000037,M,Graduate,20,30,B
335,1000361,M,University,790,780,A
439,1011077,M,High School,1190,1190,A
4,1000005,M,University,750,480,A
169,1000183,M,University,460,400,B

In [6]:
# Split Target and Feature Set
# Keep Target and Independent Variable into different array
Train_IndepentVars = Train.values[:, 3:5]
Train_TargetVar = Train.values[:,5]

In [7]:
# Random Forest Model
rf_model =  RandomForestClassifier(max_depth=10,n_estimators=10)
rf_model.fit(Train_IndepentVars,Train_TargetVar)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [8]:
# Scoring based on the train RF Model
predictions = rf_model.predict(Train_IndepentVars)

In [9]:
from sklearn.metrics import confusion_matrix
# Confusion Matrix
print(" Confusion matrix ", confusion_matrix(Train_TargetVar, predictions))

 Confusion matrix  [[242   1]
 [ 23  66]]

In [11]:
importance =  rf_model.feature_importances_
importance = pd.DataFrame(importance, index=Train.columns[3:5], 
                          columns=["Importance"])
importance

                   Importance
Last_Month_spend     0.545257
Last_3m_avg_spend    0.454743